<% include ./head.ejs %>
<nav>
  <div>
    <a href="/">Resource Wall</a>
  </div>
  <div class='rightbox'>
    <a href="/search">Search</a>
    <a href="/register">Register</a>
    <a href="/">Login</a>
  </div>
</nav>
