
<% include ./head.ejs %>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/"><i class="fas fa-book-open fa-3x"></i></a>
    <span class="nav-text"><h2 style="color:rgb(1, 24, 24); font-weight:bold;">RESOURCE WALL</h2></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="ml-auto p-2 bd-highlight">
        <span class="form-inline">
          <div class="navbar-nav navbar-right nav-item nav-link">
            <form class="form-inline" action="/search">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>
            <a href="/login"><button type="button" class="mr-sm-2 btn btn-primary active">LOGIN</button></a><br>
            <a href="/register"><button type="button" class="mr-sm-2 btn btn-success active">REGISTER</button></a>
          </div>
        </span>
      </div>
    </div>
  </nav>
</header>


