
<% include ./partials/header.ejs %>

<body>
  <% if (resources) { %>
    <% for (let resource of resources) { %>
      <iframe width=600 height=400 src='<%= resource.url %>'></iframe>
      <form action="/<%= resource.id %>" method="GET">
        <input type="text" disabled value='<%= resource.id %>'>
        <input type="submit" value="Detail">
      </form>
    <% } %>
    <h3>


    </h3>
  <% } else { %>
      <h3>no resources</h3>
    <% } %>
</body>
</html>
