
<% include ./partials/header.ejs %>

<body class="index">
  <div class="brand">
    <h1>Welcome to the Resources Wall</h1>
    <hr class="my-4">
    <a href="/resources" class="btn btn-lg btn-success"><i class="fas fa-user-graduate"></i> View All Resources</a>
    <hr class="m4-4">
  </div>

  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</body>

