
<% include ./partials/header.ejs %>

<body>
  <h1>Resource Wall</h1>
  <% if (resources) { %>
    <% for (let resource of resources) { %>
      <iframe width = 600 height=400 src='<%= resource.url %>'></iframe>
      <button>Edit</button>
    <% } %>
    <h3>


    </h3>
  <% } else { %>
      <h3>no resources</h3>
    <% } %>
</body>
</html>
