
<% include ./partials/header.ejs %>

<body>
  <main class="container">
    <div class="col-md-10 resource-field"><br>
      <% if (resources) { %>
        <% for (let resource of resources) { %>
          <iframe width=300 height=300 src='<%= resource.url %>'></iframe>
          <h2><%= resource.title %></h2>
          <p><%= resource.description %></p>
          <h5><a href="<%= resource.url %>" target="_blank"> Visit the site </a></h5><br>
          <% } %>
          <% } else { %>
          <h3>NO RESOURCES</h3>
        <% } %>
    </div>
  </main>
</body>
</html>

