
<% include ./partials/header.ejs %>

<body style="background-color:powderblue;">
  <main class="container" style="margin:4em;">
    <div class="col-md-10 resource-field">
      <% if (resources) { %>
        <% for (let resource of resources) { %>
          <iframe width=800 height=300 src='<%= resource.url %>'></iframe>
          <div style="padding: 10px"></div>
          <h2><%= resource.title %></h2>
          <p style="font-size:20px"><b><%= resource.description %></b></p>
          <a href="<%= resource.url %>" target="_blank">
            <h3><i class="fas fa-external-link-alt"></i></h3>
          </a>
          <br>
          <h4>
          <i class="far fa-thumbs-up"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-comments"></i>
          </h4>
          <br>
          <hr>
          <% } %>
          <% } else { %>
          <h3>NO RESOURCES</h3>
        <% } %>
    </div>
  </main>
</body>

