
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>LOGIN</title>
</head>
<body>
  <% include ./partials/header.ejs %>
  <main style='margin: 2em;'>
    <h3>Member Login</h3>
    <p>Welcome Back!! Please sign in to your account.</p>
    <form method="POST" action="/login">
      <div class="form-group row">
        <label name="email" class="col-sm-2 col-form-label"><b>Email</b></label>
        <div class="col-sm-4">
          <input type="email" class="form-control" name="email" placeholder="Enter Email">
        </div>
      </div>

      <div class="form-group row">
        <label name="password" class="col-sm-2 col-form-label"><b>Password</b></label>
        <div class="col-sm-4">
          <input type="password" class="form-control" name="password" placeholder="Enter Password">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
        </div>
      </div>
    </form>
  </main>
</body>
</html>

