
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>REGISTRATION</title>
</head>
<body>
  <% include ./partials/header.ejs %>
  <main style='margin: 2em;'>
    <h2>Register</h2>
    <p>Please fill in this form to create an account.</p>
    <form method="POST" action="/register">
      <div class="form-group row">
        <label name="email" class="col-sm-2 col-form-label"><b>Username</b></label>
        <div class="col-sm-4">
          <input type="email" class="form-control" name="email" placeholder="Enter Username">
        </div>
      </div>

      <div class="form-group row">
        <label name="email" class="col-sm-2 col-form-label"><b>Email</b></label>
        <div class="col-sm-4">
          <input type="email" class="form-control" name="email" placeholder="Enter Email">
        </div>
      </div>

      <div class="form-group row">
        <label name="password" class="col-sm-2 col-form-label"><b>Password</b></label>
        <div class="col-sm-4">
          <input type="password" class="form-control" name="password" placeholder="Enter Password">
        </div>
      </div>

      <div class="form-group row">
        <label name="email" class="col-sm-2 col-form-label"><b>Avatar_URL</b></label>
        <div class="col-sm-4">
          <input type="email" class="form-control" name="email" placeholder="Enter Avatar_URL">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </div>
    </form>
  </main>
</body>
</html>

