<% include ./partials/header.ejs %>

<body>
  <% if (resources) { %>
    <iframe disabled width = 600 height=400 src='<%= resources.url %>'></iframe>

    <h3>
        <a href="<%= resources.url %>" target="_blank"> Visit the site </a>
    </h3>

      <form id="comment_form" method="POST" action="/comment/edit">
        <h3>Comment</h3>
        <textarea class="comment_text" name="text" placeholder="<%= resources.comment %>" disabled></textarea>

        <button type="submit" class="comment_button" value="Submit">Edit Comment</button>
      </form>
      <form>
        <h3>Ratings</h3>
        <style>
            .checked {
              color: orange;
            }
        </style>
        <% switch (resources.rating) {
           case 1: %>
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star2" class="fa fa-star"></span>
            <span id="star3" class="fa fa-star"></span>
            <span id="star4" class="fa fa-star"></span>
            <span id="star5" class="fa fa-star"></span>
            <% break; %>
           <% case 2: %>
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star2" class="fa fa-star checked"></span>
            <span id="star3" class="fa fa-star"></span>
            <span id="star4" class="fa fa-star"></span>
            <span id="star5" class="fa fa-star"></span>
            <% break; %>
           <% case 3: %>
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star2" class="fa fa-star checked"></span>
            <span id="star3" class="fa fa-star checked"></span>
            <span id="star4" class="fa fa-star"></span>
            <span id="star5" class="fa fa-star"></span>
            <% break; %>
           <% case 4: %>
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star2" class="fa fa-star checked"></span>
            <span id="star3" class="fa fa-star checked"></span>
            <span id="star4" class="fa fa-star checked"></span>
            <span id="star5" class="fa fa-star"></span>
            <% break; %>
           <% case 5: %>
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star2" class="fa fa-star checked"></span>
            <span id="star3" class="fa fa-star checked"></span>
            <span id="star4" class="fa fa-star checked"></span>
            <span id="star5" class="fa fa-star checked"></span>
            <% break; %>
           default: %>
            <% console.log('ouch'); %>
      <% }; %>
          <button type="submit">Rate this!</button>
      </form>
      <form action="/" method="POST">
      <h3>Likes</h3>
      <style>
        .fa {
          font-size: 50px;
          cursor: pointer;
          user-select: none;
        }

        .fa:hover {
          color: darkblue;
        }
        </style>
      <% if (resources.val === 1) { %>
        <i class="fa fa-thumbs-up"></i>
        <button type="submit">Unlike this!</button>
      <% } else { %>
        <i class="fa fa-thumbs-down"></i>
        <button type="submit">Like this!</button>
      <% } %>
      </form>
      <form>
        <textarea class="id_data"><%= resources.id %></textarea>
      </form>


  <% } else { %>
      <h3>no resources</h3>
    <% } %>

</body>
</html>
