<% include ./partials/header.ejs %>
<body>
  <form method="POST" action='/search'>
    By Category: <input type='text' name='category_str'><br>
    By Title: <input type='text' name='title_str'><br>
    <input type="submit" value='Search'>

  </form>
</body>
</html>
